<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Feed</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<header th:insert="fragments/header.html :: header"></header>

<main>

    <ul>
        <li th:each="friend : ${friends}">
            <p>Friend: [[${friend.firstName}]]</p>
            <img th:src="${friend.profilePicture}">
            <ul>
                <li th:each="post : ${friend.posts}">
                    <p>Post:           <span th:text="${post.body}"></span></p>
                    <p>Time Posted:    <span th:text="${post.timestamp}"></span></p>
                    <form action="/visitFriend" method="GET">
                        <input type="hidden" th:value="${friend.userName}" name="userName">
                        <input type="submit" value="Visit Profile">
                    </form>
                </li>
            </ul>
        </li>
    </ul>

</main>
</body>
</html>