<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>CodeFellowship Home</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    <header th:insert="fragments/header.html :: header"></header>

    <main>
    <h2>Make a new friend</h2>
        <ul>
            <li class="users" th:each="user : ${registeredUsers}">
                <img class="indexProfilePic" th:src="${user.profilePicture}">
                [[${user.firstName}]] [[${user.lastName}]]


                <form action="/visitFriend" method="GET">
                    <input type="hidden" th:value="${user.userName}" name="userName">
                    <input type="submit" value="Visit Profile">
                </form>

            </li>
        </ul>
    </main>

    </body>
</html>