<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>CodeFellowship Home</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    <header>
        <h2 class="CurrentLoggedInUserName">User: [[${userName}]]</h2>
        <a href="/logout" class="CurrentLoggedInUserName">Log out</a>
        <nav>
            <h1>CodeFellowship - A Place For Friends</h1>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/userProfile">My Profile</a></li>
            <li><a href="/feed">My Feed</a></li>
        </nav>
    </header>

    <main>
    <h2>Make a new friend</h2>
        <ul>
            <li class="users" th:each="user : ${registeredUsers}">
                <img class="indexProfilePic" th:src="${user.profilePicture}">
                [[${user.firstName}]] [[${user.lastName}]]


                <form action="/visitFriend" method="GET">
                    <input type="hidden" th:value="${user.userName}" name="userName">
                    <input type="submit" value="Visit Profile">
                </form>

            </li>
        </ul>
    </main>

    </body>
</html>