<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

    <body>
    <header th:insert="fragments/header.html :: header"></header>

        <main>
            <div th:insert="fragments/userBasicDetails.html:: basicUserDetails"></div>

            <img th:src="${user.profilePicture}">

            <form action="/writePost" method="POST">
                <p>Write A Post:  <input type="text" name="body"></p>
                <input type="submit">
            </form>

            <ul>
                <li th:each="post : ${posts}">
                    <p>Post:           <span th:text="${post.body}"></span></p>
                    <p>Time Posted:    <span th:text="${post.timestamp}"></span></p>
                </li>
            </ul>
        </main>

    </body>
</html>