<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

    <body>

        <header>
            <h2 class="CurrentLoggedInUserName">User: [[${user.username}]]</h2>
            <a href="/logout" class="CurrentLoggedInUserName">Log out</a>
        </header>

        <main>
            <h1>CodeFellowship - A Place For Friends</h1>
            <nav>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </nav>

            <p>First Name: [[${user.firstName}]]</p>
            <p>Last Name:  [[${user.lastName}]]</p>
            <p>Birthday:   [[${user.dateOfBirth}]]</p>
            <p>Bio:        [[${user.bio}]]</p>

            <img th:src="${user.profilePicture}">
        </main>

    </body>
</html>